{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}
PAssword Reset | Eduvate
{% endblock title %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
  
            <h1>Password Reset</h1>
            <hr>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</p>

            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-primary" value="Reset My Password" />
            </form>

            <hr>

            <p class="text-muted mt-3"><small>Please contact us if you have any trouble resetting your password.</small></p>

        </div>
    </div>

{% endblock %}
