{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}
Password Reset Done | EduVate
{% endblock title %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
  
            <h1>Password Reset</h1>
            <hr>
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</p>
        </div>
    </div>

{% endblock %}
