{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}
Email Verification | Eduvate
{% endblock title %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">

            {% include 'partials/_messages.html' %}
            
            <h1>Verify Your E-mail Address</h1>

        <p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.</p>

        </div>
    </div>

{% endblock %}
